<div id="stocksubtype">
<%if @subtype!= nil%>
	<select>
		<option value="default_msg" selected>Please Select One</option>
		<%@subtype.each do |i|%>
		      <option value="<%=i.subtype%>" ><%=i.subtype%></option>
		<%end%>
	</select>
<%end%>
</div>