
<div id = "userschoice">
<a class="btn btn-info btn-md" href="product_type_available">Transaction</a>
<a class="btn btn-info btn-md" href="dateSelection">Transaction-Log</a>
<a class="btn btn-info btn-md" href="addNewProduct">Admin Panel</a>

</div>




