
<head>
<%= stylesheet_link_tag "jquery-ui.css"%>
<%= javascript_include_tag "jquery-ui.js"%>
</head>

<script>

$(function() {
$("#date").datepicker({
dateFormat: 'yy/mm/dd',
changeMonth: true,
changeYear: true,
showAnim: 'slideDown',
duration: ''
});
});

jQuery(function($) {
$("#my_form").bind('ajax:beforeSend', function(){

	var st = document.getElementById('date').value
	std = st[6]+st[7]+st[8]+st[9]+"/"+st[3]+st[4]+"/"+st[0]+st[1]
	var dateselected = new Date(std);

	var d = new Date();
	var month = d.getMonth()+1;
	var day = d.getDate();
	var year = d.getYear();
	var todays =  year + "/" + month + "/" + day ;
	var today = new Date(todays);
	

	if(dateselected > today)
	{
		alert("Please Select Previous Date OR Current Date");
		return false;
	}
	else
	{
		return true;
	}
});	
});

</script>

<body>
<h3>Enter Date To View Log</h3>

<%=form_tag url_for(:action=>"viewlog"),:id => "my_form",:remote=>true do %>
	<div id="dateselection">
		<p>
			<b>Enter Date:</b>
			<input type="text" name="selectdate" id="date" size="20">
		</p>
		<%=submit_tag "Submit"%>
	</div>

<%end%>

</body>
